{% extends "base.html" %}
{% block content %}

<div class="container">

    <h1>Handsontable example: Formset</h1>
    <form id="form_table" method="post" action="" onsubmit="return set_form_fields();">
        {% csrf_token %}
        {{ formset.management_form }}
        <div class="row">
            <div class="col-sm-10">
                <div id="entries"></div>
            </div>
        </div>
        <div class="row">
            <hr/>
            {% if formset.errors %}
            {% for form in formset %}
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                       {{ form.non_field_errors }}
                       {{ form.errors }}
                </div>
                {% endif %}
            {% endfor %}
            {% endif %}
            <hr/>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" id="button_submit_table">Update</button>
            </div>
        </div>
    </form>

</div>


{% endblock %}

{% block body_end %}
<script type="text/javascript">

    // Initial data for the table
    var headers = new Array();
    var primary_keys = new Array();
    var data  = new Array();

    {% for form in formset %}
        var row  = new Array();
        {% if forloop.first %}
            {% for field in form %}
                if ('{{field.label}}' != 'Id' && '{{field.label}}' != 'Delete'){
                    headers.push('{{field.label}}');
                };
            {% endfor %}
        {% endif %}
        {% for field in form %}
            var value = '';
            {% if field.value %}
                value = '{{field.value}}';
            {% endif %}
            if ('{{field.label}}' != 'Id' && '{{field.label}}' != 'Delete'){
                row.push(value);
            }
            else if ('{{field.label}}' == 'Id') {
                primary_keys.push('{{ field.value }}');
            };
        {% endfor %}
        data.push(row);
    {% endfor %}

    // Check if an array has inly nulls inside
    Array.prototype.isNull = function (){
        return this.join().replace(/,/g,'').length === 0;
    };
    // Save data in the form
    // Transforms Handsontable format into django formset
    var total_non_empty_rows = 0;
    function set_form_fields() {
        var new_data = hot.getData();
        for(var i = 0; i < new_data.length; i++) {
            var row = new_data[i];
            var pk = '';
            // Add Primary key
            if (i < primary_keys.length){
                pk = primary_keys[i]
            }
            // If exists add primary key, otherwise add ''
            var input_id = "{{formset.prefix}}-" + i + "-id";
            $('#form_table').append('<input id="id_' + input_id + '" name="' + input_id + '" type="hidden" value="' + pk +'" />');

            // If row is empty set it to be deleted
            if (row.isNull()){
                var input_id = "{{formset.prefix}}-" + i + "-DELETE";
                $('#form_table').append('<input id="id_' + input_id + '" name="' + input_id + '" type="hidden" value="on" />');
            }
            // Add data fields
            else {
                for(var j = 0; j < row.length; j++) {
                    var input_id = "{{formset.prefix}}-" + i + "-" + headers[j].toLowerCase();
                    $('#form_table').append('<input id="id_' + input_id + '" name="' + input_id + '" type="hidden" value="' + row[j] +'" />');
                }
                total_non_empty_rows+=1;
            }
        }
        // Set total of forms as many elements the table has
        var input_id = "id_{{formset.prefix}}-TOTAL_FORMS";
        $('#'+input_id).val(total_non_empty_rows);
        return true;
     }

    var container = document.getElementById('entries');
    var hot = new Handsontable(container, {
        data: data,
        height: 300,
        minSpareRows: 1,
        stretchH: 'all',
        columnSorting: true,
        contextMenu: true,
        autoWrapRow: true,
        rowHeaders: false,
        colHeaders: headers,
        contextMenu: true
    });


</script>
{% endblock %}
